*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: #121317;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

#header{
    width: 90%;
    height: 40px;
    background-color: #21242b;
    color: white;
    display: flex;
    font-size: 15px;
    top: 0;
    margin: 0 auto 15px auto;
    justify-content: space-evenly;
    align-items: center;

}

.container{
    width: 90%;
    height: auto;
    margin:  auto;
    display: flex;
    justify-content: space-between;
}

.item{
    width: 31%;
    height: auto;
    background-color: #21242b;
    border: #32343b solid 1px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
}

.item1{
    display: flex;
    flex-direction: column;
}
.item2{
    display: flex;
    flex-direction: column;
}
.item3{
    display: flex;
    flex-direction: column;
}

.video-itzy{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #070606;
}

.mv-title{
    color: white;
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    padding: 5px;
    background-color: #21242b;
    
}
.container{
    display: flex;
    justify-content: space-between;

}

.mv_itzy{
    width: 100%;
    height: 85px;
    border: none;
}

@media only screen and (max-width: 600px) {
    .container{
        width: 100%; 
        padding: 5px;
        flex-direction: column;
    }
     .item{
        width: 100%;
        height: auto;
        background-color: #21242b;
        border-radius: 0px;
    }
   #header{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction:column;
    font-size: 11px;
    top: 0;
    margin: 0 auto 0px auto;
       padding:5px;
    justify-content: start;
    align-items: start;

}


    
}
