*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body{
  background-color: #121317;
}

#container{
  max-width: 95%;
  margin: 5px auto;
  
}

#container img{
  max-width: 95%;
  height: auto;
  
}

#main-wrap-container{
  display: flex;
  flex-wrap: nowrap;
}

#main-wrap-container>div{
  width: 33%;
  height:auto;
  margin: 0 0 10px 0;
  padding: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

#left-container{
  display: flex;
  max-width: 33%;
  flex-direction: column;
  font-size: 30px;
  text-align: center;

}

.left-inner1, .left-inner2{
  background-color: #21242b;
  border: 2px solid orange;
  padding: 10px;
  flex: 100%;
  margin:10px ;

  
}

.header-topic{
  padding: 0;
  margin: 0;
  justify-content: center;
  display: flex;
  height: 40px;
}

.left-inner1 #myImage, .left-inner2 #myImage2{
  border-radius: 15px;
}

.left-inner1 #newestHeader, .left-inner2 #popularHeader{
  font-size: 15px;
  color: #fff;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.left-inner1 #liveCount, .left-inner2 #liveCount2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0;
  margin: 0;

}
#viewersCount2, #viewersCountPopular{
 
  font-size: 30px;
  color: #18f98f;

}

#middle-container{
  display: flex;
  max-width: 33%;
  flex-direction: column;
  font-size: 10px;
  text-align: center;


}

#middle-content-wrapper{
  padding: 5px 0px;
  flex: 100%;
  margin:10px 0; 

}

#data-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
  letter-spacing: 0px;
  color: #fff;
  word-spacing: 5px;
  line-height: 1.8;
  margin: 0;
  padding: 5px;
 
}

#data-table th,
#data-table td {
  margin: 0;
  padding: 0 10px 0 10px;
  height: 90px;
  background-color: #21242b; 
}

#data-table tr{
 
  border: 2px solid #18f98f;

}

#data-table img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 5px;
}

#viewsCount {
  font-size: 24px;
  color: #ffffff;
}


